{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
  <style>
    body {
        background-color: #b2b2b28e; 
      }
    img {
      width: 30%;

      display: block;
      margin: 0 auto;
    }
    
    h1 {
      color: #333; 
      text-align: center;
    }
    
    p {
      color: #666; 
      text-align: center;
    }
  </style>

  <h1>About us</h1>
  <p>Created in 2014, our company was created after Steve Jobs went up to our founder and said "Make me one company to rule them all"</p>
  <img src="{% static 'img/ring.png' %}" alt="Coder Image">

{% endblock content %}